*{
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
.collapse {
  display: none !important;
}
.collapse.show {
  display: flex !important; 
}
@media (max-width: 991px) { 
  .navbar-collapse {
    flex-direction: column !important; 
    width: 100%; 
    text-align: center; 
  }

  .navbar-collapse .navbar-nav {
    flex-direction: column;
    gap: 15px; 
    width: 100%;
  }

  .navbar-collapse .d-flex {
    flex-direction: column; 
    gap: 10px;
    width: 100%;
    margin-top: 10px;
  }

  .navbar-collapse .btn,
  .navbar-collapse a.text-dark {
    width: 100%; 
  }
  .nav-link.active::after{
    display: none;
  }
  .nav-link{
    color: #525252 !important;
  }
}

/* Orange color */
.text-orange {
  color: #d84f0a;
}
.logo{
  background-color: #d74b09;
  padding: 10px;
  font-size: 15px;
  color: white;
  border-radius: 10px;
}
/* Button gradient like image */
.btn-orange {
  background: linear-gradient(to right, #f56b1c, #d74b09);
}
.scrollspy-example {
  position: relative;
}

/* Default nav link color */
.nav-link {
  color: #494b54 !important; 
  font-weight: 500;
  position: relative;
}

/* Hover color */
.nav-link:hover {
  color: #d84f0a !important; 
}

/* Active link */
.nav-link.active {
  color:  #d84f0a !important; 
}
.nav-link.active::after {
  content: "";
  width: 70px;
  height: 2px;
  background:  #d84f0a;
  position: absolute;
  bottom: -4px;
  left: 0;
  animation: .5s style;
}
@keyframes style {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}

/* Hover Opacity */
.btn-orange:hover {
  opacity: .9;
}
/* home */
.Home{
  background-color: #fffaf4;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.icon {
  background-color: #f9ebe0;
  color: #d74b09;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
}
.txt-home h1{
  color: #7c2e14;
  font-size: 60px;
  font-weight: 900;
}
.txt-home h1 span:nth-of-type(1){
background: linear-gradient(to right, #853918, #fc6e2d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.txt-home h1 span:nth-of-type(2){
  background: linear-gradient(to right, #fa903b, #ed5912);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.txt-home p{
  font-size: 20px;
  color: #525252;
}
.txt-home button{
  padding: 15px 30px;
  font-weight: bold;
  font-size: 18px;
}
.txt-home button.start{
  background: linear-gradient(to right, #f56b1c, #d74b09);
  color: white;
  border: none;
}
.txt-home button.watch{
  background-color: white;
  border: 2px solid gainsboro;
  color: #525252;
}
.txt-home button.start:hover{
  box-shadow: 2px 2px 20px #d84f0a;
  transform: translateY(-8px);
}
.txt-home button.watch:hover{
  border-color: #d84f0a;
  color: #d84f0a;
}
.txt-home .numbers{
  display: flex;
  gap: 25px;
  align-items: center;
}
.txt-home .numbers h3{
  color: #d84f0a;
  font-weight: bold;
  font-size: 30px;
}
.img-home{
  position: relative;
}
.img-home img{
  width: 500px;
  border-radius: 20px;
}
.shadow-img{
  width: 540px;
  height: 560px;
  position: absolute;
  z-index: 1;
  background-color: #f9d8c7;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  transform: rotate(4deg);
}
.corner-img{
  background-color: rgb(255, 255, 255);
  width: 550px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 2;
}
.corner-img i{
  font-size: 30px;
  color: white;
  background: linear-gradient(to right, #f56b1c, #d74b09);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-radius: 10px;
}
.coding{
  position: absolute;
  top: 0;
  right: 0;
}
.calling{
  position: absolute;
  bottom: 0;
  left: 0;
}
/* responsive home section */
@media (max-width: 1023px) {

  .Home {
    flex-direction: column;
    padding: 20px;
    gap: 40px;
  }

  .txt-home h1 {
    font-size: 40px;
    line-height: 1.2;
  }

  .txt-home p {
    font-size: 18px;
  }

  .txt-home .numbers {
    justify-content: center;
  }

  .img-home {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .shadow-img {
    width: 90%;
    height: 220px;
    left: 50%;
    transform: translateX(-50%) rotate(4deg);
  }
  .corner-img {
    width: 90%;
    padding: 20px;
  }

  .corner-img img {
    width: 100%;
  }
  .corner-img i {
    width: 60px;
    height: 60px;
    font-size: 22px;
  }

  .fa-code {
    top: 10px;
    right: 10px;
  }

  .fa-mobile {
    bottom: 10px;
    left: 10px;
  }
}
/* end Home section */
/* styling top heading */
.top-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}
.top-heading i{
    color: #ec602f;
    font-size: 12px;
}
.top-heading .section-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color:#ffe9e9;
    padding: 5px 10px;
    border-radius: 25px;
    color: #ec602f;
    font-weight: bold;
}
.top-heading h1{
    color: #7e3010;
    font-weight: bolder;
}
.top-heading h1{
    font-size: 48px;
}
.top-heading span{
    background: linear-gradient(to right, #e65706, #bb4505);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.top-heading p{
    font-size: 20px;
    color: #38434b;
}
/* end styling top-heading */
/* start services section */
.services,.Technology{
  background-color: white;
}

.services .icon-service i{
  background: linear-gradient(to right, #f56b1c, #d74b09);
  height: 65px;
  width: 65px;
  display: flex;
  font-size: 25px;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.services .card-title {
  color: #7a3734;
  font-size: 20px;
  font-weight: 700;
}
.learn,.fa-check{
  color: #e46a24;
}
.learn:hover {
  color: #9f4118;
}
.services .card:hover .learn i{
  transform: translateX(5px);
}
.services .card:hover{
  box-shadow: 1px 1px 20px -5px #e46a24;
  transform: translateY(-5px);
}
.services .card{
  border: 1px solid #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}
/* responsive */
@media (min-width:320px) and (max-width:1023px){
  .top-heading h1{
    font-size: 24px;
    font-weight: bold;
}
  .top-heading p{
    font-size: 18px;
  }
  .card{
    margin: 0px;
    padding: 0;
    width: 100%;
  }
  .card p{
    font-size: 10px;
  }
}
/* end services section */
/* start .Technology section */
.nav-pills .nav-link {
    background-color: transparent; 
    color: #4a5666 !important;  
    border: none; 
}
.nav-pills .nav-link.active{
  background-color: transparent;
}
.container1 button{
  font-size: 18px;
  font-weight: 500;
}
.container1 ul{
  border-bottom: 1px solid rgb(223, 223, 223);
}
ul{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.container1{
  width: 80%;
  margin: auto;
}
.nav-pills .nav-link i {
    color: inherit;
    font-size: 16px;
}
/* الحالة عند الضغط / Active */
.nav-pills .nav-link.active {
    color: #e45e10 !important;
}

/* line under text */
.nav-pills .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: -4px; 
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #e45e10; 
    border-radius: 2px;
}

.nav-pills .nav-link:hover {
    color: #e45e10;
}
.text-tap{
  text-align: center;
}
.text-tap h3{
  color: #782d0f;
}
.text-tap p{
  color: #52657c;
  font-size: 18px;
}
.card-tracks{
  display: flex;
  gap:10px;
}
.Technology .card{
  padding: 20px;
  border-radius: 10px;
  border: none;
}
.Technology .card:hover{
  transform: translateY(-8px);
  box-shadow: 2px 2px 20px rgb(190, 190, 190);
}
.Technology .card-title {
  color: #7a3734;
  font-size: 20px;
  font-weight: 700;
}
.card-tracks p{
  font-size: 10px;
  font-weight: 500;
  padding:5px 10px;
  border-radius: 20px;
}
.react p{
  background-color:#dbeaff ;
  color: #2b7efe;
}
.Technology .icon-service i{
  height: 65px;
  width: 65px;
  display: flex;
  font-size: 25px;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.fa-react,.fa-python,
.fa-windows,
.fa-ship,
.icon-service .fa-database{
  background-color: #2b7efe;
}
.card.reacting{
  background-color: #e3efff;
}
/* Next.js */
.icon-service.nextjs p
,.icon-service.go p,
.icon-service.net p,.kk p
,.mongo p
{
  color: white;
  background-color: black;
  display: inline-block;
  height: 65px;
  width: 65px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
}
.card.Nexting{
  background-color: #f6f7f9;
}
.next p{
  background-color:#f1f4f9;
}
/* vue.js */
.fa-vuejs{
  background-color: #00c951;
}
.card.vueing{
  background-color: #e7feee;
}
.vue p{
  background-color: #dbfcea;
  color: #00c951;
}
/* angular */
.fa-angular,.fa-globe,.fa-aws{
  background-color: #ff6a00;
}
.card.angular{
  background-color: #fff2e1;
}
.angular-js p{
  background-color: #ffedd0;
  color:#923010;
}
/* Tailwind */
.fa-css3-alt,.icon-service .fa-mobile{
  background-color: #00b8dc;
}
.card.Tailwind{
  background-color: #dafcfe;
}
.Tailwind-frame p{
  background-color: #cefafe;
  color:#00b8dc;
}
/* Vite */
.fa-bolt{
  background-color: #ac46ff;
}
.card.Vite{
  background-color: #f6edfe;
}
.vite p{
  background-color: #f4e8ff;
  color:#ac46ff;
}
/* node.js */
.fa-node-js,.fa-android{
  background-color: #02a63d;
}
.card.node{
  background-color: #e6fded;
}
.node-js p{
  background-color: #e5fede;
  color:#02a63d;
}
/* go */
.icon-service.go p,.fa-g,.fa-fire{
  background-color: #e7000c;
}
.card.Go{
  background-color:#feecec;
}
.go-language p{
  background-color: #ffe4e1;
  color:#833640;
}
/* java */
.fa-java,.icon-service .fa-code,.kk p,.fa-chart-line{
  background-color: #9710fa;
}
.card.java{
  background-color: #f7eeff;
}
.Java p{
  background-color: #f3e8fb;
  color:#612d8a;
}
/* Net */
.icon-service.net p,.fa-diagram-project{
  background-color: #4f39f6;
}
.card.Net{
  background-color:#e6ecfe;
}
.net-track p{
  background-color: #e1e7ff;
  color:#565bbd;
}
/* ruby */
.fa-gem{
  background-color: #00968a;
}
.card.Ruby{
  background-color: #ddfcf6;
}
.ruby p{
  background-color: #cff8ec;
  color:#0a7776;
}
.fa-apple,.icon-service .fa-user{
  background-color: #38434b;
}
.mongo p{
  background-color:#02a63d ;
  color: white;
}
/* mysql */
.icon-service .fa-database{
  background-color: #ce8605;
  color: white;
}
.sql{
  background-color: #fefad4;
}
.mysql p{
  background-color: #fff9c0;
  color: #ce8605;
}
/* responsive */
@media (max-width: 992px) {
  .container1 {
    width: 95%;
  }

  ul {
    flex-wrap: wrap;
    gap: 15px;
  }

  .container1 button {
    font-size: 16px;
    padding: 6px 10px;
  }

  .row-cols-md-3 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .container1 {
    width: 100%;
  }

  ul {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }

  .container1 button {
    font-size: 15px;
    padding: 5px 10px;
  }

  .nav-pills .nav-link {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    padding: 5px 10px;
  }

  /* underline fixes in mobile */
  .nav-pills .nav-link.active::after {
    bottom: -2px;
    height: 2px;
  }

  .row-cols-md-3 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card {
    margin-bottom: 15px;
  }

  .text-tap h3 {
    font-size: 20px;
  }

  .text-tap p {
    font-size: 14px;
  }
}

/* Very Small screens */
@media (max-width: 480px) {
  .nav-pills .nav-link {
    font-size: 13px;
  }

  .container1 button {
    font-size: 13px;
  }

  .icon-service i, 
  .icon-service p {
    font-size: 22px;
  }
  
}
/* End Technology section */
/* start Testimonials section  */
/* Hide default controls */
.carousel-control-prev,
.carousel-control-next {
    display: none;
}
.Testimonials{
  background-color: #fdf8f2;
}
/* Custom indicators */
.custom-indicators {
    position: relative; 
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 15px; 
}
.custom-indicators button {
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    border: none;
    background-color: rgb(42, 41, 41) !important;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Active indicator */
.custom-indicators button.active {
    background-color: #e85808 !important;
}

/* Hover effect */
.custom-indicators button:hover {
    background-color: #e85808; 
    transform: scale(1.2) !important; 
}


.Testimonials .fa-check
,.FAQ .fa-question
{
    background-color: #e85808;
    color: white !important;
    width: 15px;
    height: 15px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.contain-icon{
  display: flex;
  align-items: center;
  gap: 10px;
}
.fa-quote-left{
  width: 60px;
  height: 60px;
  background-color: #feecdf;
  color: #e65206;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 25px;
}
.stars i{
  color: gold;
}
.contain2,.img-rate{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-stars{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.image-rating img{
  width: 80px;
  border-radius: 50%;
  border: 4px solid #eee1d7;
}
.true-image{
  position: relative;
}
.true-image i{
  font-size: 20px !important;
  width: 25px !important;
  height: 25px !important;

}
.true-image div:nth-of-type(2){
  position: absolute;
  left: 55px;
  top: 55px;
}
.image-rating{
  display: flex;
  gap: 20px;
}
hr{
  border: 2px solid rgb(206, 206, 206);
}
.Verified{
  background-color: #fbeee7;
  color: #e45714;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 14px;
}
.img-rate h2,h5{
  color: #d74b09;
}
.img-rate span:nth-of-type(2){
  font-size: 14px;
}
.img-rate span:nth-of-type(2) i{
  color: #d74b09;
}
.carousel-inner{
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}
.carousel{
  width: 80%;
  margin: auto;
}
@media (max-width: 768px) {
  .contain2, .image-rating, .img-rate {
    flex-direction: column;
    align-items:center;
    gap: 15px;
  }
  .stars{
    font-size: 10px;
  }
  .carousel-inner {
    padding: 10px;
    width: 100%;
  }
  .carousel{
    width: 100% !important;
    margin: auto;
  }
  .txt-under{
    text-align: center;
  }
}
/* end Testimonials section  */
/* start FAQ section */
.custom-accordion .accordion-item {
  border: 1px solid gainsboro;
  border-radius: 20px;
  margin-bottom: 15px; 
  overflow: hidden;
}

.custom-accordion .accordion-button {
  background-color:white; 
  color:#7C2D12;
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  border: none;
}

.custom-accordion .accordion-button:focus {
  box-shadow: none;
}

.custom-accordion .accordion-button::after {
  filter: invert(27%) sepia(94%) saturate(5926%) hue-rotate(356deg) brightness(98%) contrast(107%); 
}
.custom-accordion .accordion-body {
  padding: 20px;
  font-size: 17px;
  line-height: 1.5;
  color: #51525c;
}
.txt-accordion span{
  font-size: 14px;
  font-weight: bold;
}
.FAQ{
  width: 60%;
  margin: auto;
}
@media (max-width:1023px) {
  .FAQ{
  width: 100%;
  margin: auto;
}
.accordion-body{
  font-size: 14px !important;
}.txt-accordion span{
  font-size: 15px;
}
}
/* end FAQ section */
/* start contact section */
.contact .top-heading h1{
  font-size: 72px;
}
.contact .top-heading p{
  font-size: 24px;
}
.contact{
    background-color: #fbf1ea;
    padding: 20px;
}
.form-control:focus,
.form-select:focus {
    border-color: #e55a0a !important;   
    box-shadow: 0 0 0 0.25rem rgba(243, 106, 26, 0.25) !important; 
    outline: none !important;
}
.budget .card {
  border: 1px solid gainsboro;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.budget .card:focus,
.budget .card:active {
  border: 2px solid  #e55a0a !important;
  color: #e55a0a ;
  background-color: #fef6f3;
}

.contact-input{
  background-color: white;
  padding: 20px;
  flex: 2;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.data-person{
  flex: 1;
  background-color: #c1440a;
  padding: 20px;
  color: white;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.contain-contact{
  display: flex;
  width: 75%;
  margin: auto;
}
.fa-clock,.fa-shield-halved,.fa-users{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c86d40;
}
.data-icon{
  display: flex;
  gap: 20px;
}
.data-icon p{
  font-size: 15px;
  color: #fbcbbc;
}
.contact hr{
  border: 1px solid #e1885e;
}
form .style-input{
  background-color: #f3f4f6 !important;
  padding: 20px !important;
  border-radius: 20px !important;
}
form h3{
  color: #7d3411;
  font-weight: bold;
}
form h3+p{
  color: #736b68;
}
.form-check{
  font-weight: 100 !important;
  font-size: 14px;
}
.form-check a{
  color: #f27b36;
  text-decoration: none;
}
.form-check a:hover {
  text-decoration: underline;
}
.form-check-input:checked {
    background-color: #e55a0a !important;
    border-color: #e55a0a !important;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(229, 90, 10, 0.25) !important;
    border-color: #e55a0a !important;
}
form .btn{
  background: linear-gradient(to right, #f56b1c, #d74b09);
  padding: 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
form .btn:hover{
  color: white !important;
  box-shadow: 2px 2px 10px #cd4b0d;
  transform: translateY(-5px);
}
form .btn:hover i{
  transform: translateX(5px);
}
form label{
  font-weight: bold;
}
/* responsive */
@media (max-width:1023px) {
  .contain-contact{
    flex-direction: column;
  }
  .contact .top-heading h1{
  font-size: 40px;
}
.contact .top-heading p{
  font-size: 16px;
}
.contain-contact{
  display: flex;
  width: 100%;
}
.budget{
  flex-direction: column;
}
}
/* end contact section */
/* styling footer section */
.footer-txt .logo1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo1 i{
    background-color: #cd4b0d;
    color: white;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.footer-icon div i{
    background-color: gainsboro;
    color: #38434b;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.footer-icon{
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.contain-footer{
    display: flex;
    justify-content: space-between;
}
/* style hr */
.footer-hr{
    width: 100%;
    color: #787878;
}
footer div:nth-of-type(2){
    text-align: center;
}
.fa-heart{
    color:#e55a0a;
    font-size: 14px;
}
/* hover icons */
.footer-icon div:hover i{
    background-color: #e55a0a;
    color: white;
}
@media (max-width:767px) {
  .contain-footer{
    flex-direction: column;
    gap: 10px;
}footer p{
  font-size: 14px;
}
}
/* end footer sction */